@import "tailwindcss";
@import "tw-animate-css";
@import "../../../../tooling/tailwind/theme.css";

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

button {
  cursor: pointer;
}