@import "tailwindcss";
@import "@redux/tailwind-config/theme";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

body {
  @apply bg-background text-foreground antialiased;
}